cartopy
dask-ml
coverage
dask-ml
datashader
fiona
gdal
geopandas
graphviz
mysql-connector-python
netcdf4
psycopg2
pyodbc
pyproj
pytables
rasterio
rpy2
rtree
scikit-image
scikit-learn
shapely
xarray
xgboost
