alembic
altair
arrow
bcrypt
beautifulsoup4
black
blaze
cassandra-driver
chardet
click
colorcet
connexion[swagger-ui]
cookiecutter
correct_horse
coverage
cvxopt
cx_oracle
dash
dask
descartes
eli5
email_validator
fabric
faker
fastapi
flake8
flask
flask-apscheduler
flask-httpauth
flask-restplus
flask-security-too
flask-sqlalchemy
folium
gekko
geoalchemy2
graphviz
h5py
holoviews
httpie
humanize
hypothesis
imbalanced-learn
inflect
ipytest
itsdangerous
jellyfish
jupyter-server-proxy
karateclub
kerberos
keyring
keyrings.cryptfile
koalas
ldap3
littleballoffur
logzero
marshmallow
marshmallow-sqlalchemy
mysql-connector-python
mystic
nb_black
nbconvert
networkx
openml
openpyxl
ortools
passlib
pdf2image
pillow
pint
plotly
protobuf>=3.14
psutil
pyarrow
pycodestyle
pydantic-sqlalchemy
pydot
pyhive
pylint
pymongo
pyod
pyomo
pysal
pytesseract
pytest
pytest-cov
QuantLib
redis
requests
rioxarray
rtree
scapy
scrapy
sh
streamlit
teradata
teradatasql
textdistance
textract
tika
vega-datasets
voila
wikipedia
xlutils
wordcloud
yellowbrick
zarr
